<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telphone=no, email=no"/>
<title>个人中心</title>
<link rel="stylesheet" href="css/style.css">

</head>

<body>

<div class="top">
<h1>个人中心</h1>
<a class="topa1" href="jvascript:void(0)">&nbsp;</a>
<a class="topa2" href="jvascript:void(0)"></a></div>

<div class="cen_t">
<img src="images/11.jpg">
<p>小明</p>

</div>

<div class="cen_1">
金额<b>￥36.5</b> 剩余数量 <b>12</b>
</div>

<div class="cen_in">
<h2>订单列表</h2>

<ul class="cen_ul">
<li><p>待付款</p>
  <a href="修改后的订单列表.html"><img src="images/dfk.png" border="0"></a></li>
<li style="margin-left:25%"><p>已付款</p>
  <a href="修改后的订单列表.html"><img src="images/yfk.png" border="0"></a></li>
<li style="margin-left:25%"><p>完成</p>
  <a href="修改后的订单列表.html"><img src="images/wc.png" border="0"></a></li>
</ul>

<ul class="cen_menu">
<li class="boder_t"><a href="订单日计划修改-日历.html">我的订单计划</a></li>
<li><a href="32消息中心.html">消息中心</a></li>
<li><span><a href="31投诉建议.html">退订咨询</a></span><a href="31投诉建议.html">投诉建议</a></li>
<li><a href="23我的评价.html">我的评价</a></li>
</ul>

</div>



  <div class="he50"></div>
		<div class="menu">
        <ul class="menul">
        <li class="curr">
        <a class="curr" href="javascript:void(0)"><i class="mni1"></i>奶吧</a>
        </li>
        <li>
        <a class="" href="javascript:void(0)"><i class="mni2"></i>快速订奶</a>
        </li>
        <li>
        <a class="" href="javascript:void(0)"><i class="mni3"></i>购物车<span class="cartn">1</span></a>
        </li>
        <li>
        <a class="" href="javascript:void(0)"><i class="mni4"></i>个人中心</a>
        </li>
        </ul>
        </div>



</body>
</html>
