<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="format-detection" content="telphone=no, email=no"/>
<title>支付失败</title>
<link rel="stylesheet" href="css/style.css">

</head>

<body>

<div class="top">
<h1>支付失败</h1>
<a class="topa1" href="jvascript:void(0)">&nbsp;</a>
<a class="topa2" href="jvascript:void(0)"></a></div>

<div class="zfjg">
<p align="center" ><img src="images/sb.png"></p>
<p align="center"><b>支付失败</b></p>
<p align="center" >  <input type="submit" name="Submit" value="继续支付" class="jxzf"></p>


</div>


  <div class="he50"></div>
		<div class="menu">
        <ul class="menul">
        <li class="curr">
        <a class="curr" href="javascript:void(0)"><i class="mni1"></i>奶吧</a>
        </li>
        <li>
        <a class="" href="javascript:void(0)"><i class="mni2"></i>快速订奶</a>
        </li>
        <li>
        <a class="" href="javascript:void(0)"><i class="mni3"></i>购物车<span class="cartn">1</span></a>
        </li>
        <li>
        <a class="" href="javascript:void(0)"><i class="mni4"></i>个人中心</a>
        </li>
        </ul>
        </div>

</body>
</html>
