<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="订牛奶商城"/>
        <meta name="keywords" content="订牛奶商城"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta name="format-detection" content="telphone=no, email=no"/>
		<title>首页</title>
		<link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/swiper.min.css">
        <script src="js/jquery-1.10.1.min.js"></script>
	</head>
	<body>
		<header>
			<a class="headl mesa" href="javascript:void(0)"></a>
			<div class="addr1">北京</div><div class="seartop">
				<input type="search" name="" />
			</div>
			
		</header>
		<div class="bann">
			 <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="bimg" src="images/bann.jpg"></div>
            <div class="swiper-slide"><img class="bimg" src="images/bann.jpg"></div>
            <div class="swiper-slide"><img class="bimg" src="images/bann.jpg"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
		</div>
		<nav>
			<ul class="navi">
				<li><a href="订单日计划修改-日历.html"><img src="images/nav1.png">订单计划</a></li>
				<li><a href="31投诉建议.html"><img src="images/nav2.png">咨询投诉</a></li>
				<li><a href="新提交待审核.html"><img src="images/nav3.png">修改订单</a></li>
			</ul>
		</nav>
		<div class="boxer pa2t">
        <dl class="prob clearfix">
        <dt class="proti"><a href="javascript:void(0)">新品上市</a></dt>
        <dd class="prol"><a href="天天送.html">
        <img class="bimg" src="images/zfx.jpg">
        <h3 class="proh3">圣母牛奶</h3>
        <div class="proml">200ml</div>
        <div class="promon"><strong>￥4.8</strong>(人民币)</div>
        </a></dd>
        <dd class="prol"><a href="javascript:void(0)">
        <img class="bimg" src="images/zfx.jpg">
        <h3 class="proh3">圣母牛奶</h3>
        <div class="proml">200ml</div>
        <div class="promon"><strong>￥4.8</strong>(人民币)</div>
        </a></dd>
         <dd class="prol"><a href="javascript:void(0)">
        <img class="bimg" src="images/zfx.jpg">
        <h3 class="proh3">圣母牛奶</h3>
        <div class="proml">200ml</div>
        <div class="promon"><strong>￥4.8</strong>(人民币)</div>
        </a></dd>
        <dd class="prol"><a href="javascript:void(0)">
        <img class="bimg" src="images/zfx.jpg">
        <h3 class="proh3">圣母牛奶</h3>
        <div class="proml">200ml</div>
        <div class="promon"><strong>￥4.8</strong>(人民币)</div>
        </a></dd>
        </dl>
         <dl class="prob clearfix">
        <dt class="proti"><a href="javascript:void(0)">促销活动</a></dt>
        <dd>
        <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="bimg" src="images/bann.jpg"></div>
            <div class="swiper-slide"><img class="bimg" src="images/bann.jpg"></div>
            <div class="swiper-slide"><img class="bimg" src="images/bann.jpg"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
        
        </dd>
        </dl>
        </div>
        <div class="he50"></div>
		<div class="menu">
        <ul class="menul">
        <li class="curr">
        <a class="curr" href="/"><i class="mni1"></i>奶吧</a>
        </li>
        <li>
        <a class="" href="3商品列表.html"><i class="mni2"></i>快速订奶</a>
        </li>
        <li>
        <a class="" href="结算页面-日历.html"><i class="mni3"></i>购物车<span class="cartn">1</span></a>
        </li>
        <li>
        <a class="" href="13个人中心.html"><i class="mni4"></i>个人中心</a>
        </li>
        </ul>
        </div>
         <div class="adrtc">
         <ul class="adrtcul">
         <li class="on"><a href="javascript:void(0)">北京</a></li>
         <li><a href="javascript:void(0)">上海</a></li>
         <li><a href="javascript:void(0)">天津</a></li>
         <li><a href="javascript:void(0)">重庆</a></li>
         <li><a href="javascript:void(0)">河北</a></li>
         <li><a href="javascript:void(0)">山西</a></li>
         <li><a href="javascript:void(0)">河南</a></li>
         <li><a href="javascript:void(0)">北京</a></li>
         <li><a href="javascript:void(0)">上海</a></li>
         <li><a href="javascript:void(0)">天津</a></li>
         <li><a href="javascript:void(0)">重庆</a></li>
         <li><a href="javascript:void(0)">河北</a></li>
         <li><a href="javascript:void(0)">山西</a></li>
         <li><a href="javascript:void(0)">河南</a></li>
         <li><a href="javascript:void(0)">北京</a></li>
         <li><a href="javascript:void(0)">上海</a></li>
         <li><a href="javascript:void(0)">天津</a></li>
         <li><a href="javascript:void(0)">重庆</a></li>
         <li><a href="javascript:void(0)">河北</a></li>
         <li><a href="javascript:void(0)">山西</a></li>
         <li><a href="javascript:void(0)">河南</a></li>
         </ul>
         </div>
         
         
         
          <!-- Swiper JS -->
    <script src="js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 30,
    });
	$('.addr1').click(function() { 
	$('.adrtc').stop().slideToggle();
	});
    </script>
	</body>
</html>
