<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="订牛奶商城"/>
    <meta name="keywords" content="订牛奶商城"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="format-detection" content="telphone=no, email=no"/>
    <title>确认订单</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='css/fullcalendar.min.css' rel='stylesheet'/>
    <link rel="stylesheet" href="css/themes/base/jquery-ui.css"/>
    <script src="js/jquery-1.10.1.min.js"></script>
    <script src="js/ui/jquery-ui.js"></script>
    <script src='js/moment.min.js'></script>
    <script src='js/fullcalendar.min.js'></script>
    <script type="text/javascript">
        $(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },
                firstDay: 0,
                editable: true,
                events: [
                    {
                        title: '2',
                        start: '2016-09-28',
                        //className:'ypsrl'

                    },
                    {
                        //title: '2',
                        start: '2016-09-28',
                        rendering: 'background',
                        color: '#00a040'
                    },
                    {
                        title: '5',
                        start: '2016-09-29',
                    },
                    {
                        //title: '5',
                        start: '2016-09-29',
                        rendering: 'background',
                        color: '#00a040'
                    },
                    {
                        title: '3',
                        start: '2016-09-30',
                    },
                    {
                        //title: '3',
                        start: '2016-09-30',
                        rendering: 'background',
                        color: '#00a040'
                    }
                ],
                dayClick: function (date, jsEvent, view) {
                    $("#message-content").html(date.format());
                    $("#dialog-message").dialog({
                        modal: true,
                        buttons: {
                            Ok: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                }
            });

        });

        function onGoPage1() {
            window.location = "地址列表.html";
        }

        function onGoPage2() {
            window.location = "修改订单-不换奶-按周送.html";
        }
    </script>
</head>
<body>
<header>
    <a class="headl fanh" href="javascript:void(0)"></a>
    <h1>确认订单</h1>

</header>
<div class="ordsl">

    <div class="addrli addrli2" onclick="onGoPage1();">
        <div class="adrtop pa2t">
            <p>张天 4854545<br>广西壮族自治区</p>
            <p>17-2-2016</p></div>
    </div>

    <div class="ordnum">

        起送时间：2016-09-28

    </div>

    <div class="ordtop clearfix">
        <img class="ordpro" src="images/zfx.jpg">
        <span class="ordlr"><A href="#" onclick="onGoPage2();">修改</A></span>
        <div class="ord-r">
            蒙牛纯甄酸奶低温
            <br>
            单价：
            <br>
            订单数量：32瓶
        </div>
        <div class="ordye">金额：162元</div>
    </div>
    <div class="ordtop clearfix">
        <img class="ordpro" src="images/zfx.jpg">
        <span class="ordlr"><A href="#" onclick="onGoPage2();">修改</A></span>

        <div class="ord-r">
            蒙牛纯甄酸奶低温
            <br>
            单价：
            <br>
            订单数量：32瓶
        </div>
        <div class="ordye">金额：162元</div>
    </div>
    <h3 class="dnh3">订奶计划预览</h3>
    <div id='calendar'></div>
    <div class="ordbot">
        <textarea class="btxt" name="" cols="" rows="" placeholder="备注"></textarea>
    </div>
</div>
<div class="he50"></div>
<div class="dnsbt clearfix">

    <a class="tjord tjord2" href="javascript:void(0);">去付款</a>
</div>
<script>

    $(".addSubtract .add").click(function () {
        $(this).prev().val(parseInt($(this).prev().val()) + 1);
    });
    $(".addSubtract .subtract").click(function () {
        if (parseInt($(this).next().val()) > 10) {
            $(this).next().val(parseInt($(this).next().val()) - 1);
            $(this).removeClass("subtractDisable");
        }
        if (parseInt($(this).next().val()) <= 10) {
            $(this).addClass("subtractDisable");
        }
    });
</script>

<div id="dialog-message" title="Calender Clicked" style="display: none">
    <p id="message-content">
        Your files have downloaded successfully into the My Downloads folder.
    </p>
</div>
</body>
</html>
